DEPLOYMENT=core-only
SAAS_CORE_HTTP_PORT=8080
SAAS_CORE_GRAFANA_PORT=3001
SAAS_CORE_EMAILS_DIR=.runtime/emails
TRUSTED_PROXY_COUNT=1
SAAS_CORE_POSTGRES_PORT=5432
SAAS_CORE_POSTGRES_DB=saas_core
SAAS_CORE_REDIS_PORT=6379
SAAS_CORE_SECRETS_DIR=.runtime/secrets
