DJANGO_SETTINGS_MODULE=saas_core.config.settings.local
DJANGO_SECRET_KEY=replace-in-non-local-environments
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://localhost:3000
DEPLOYMENT=core-only
POSTGRES_DB=saas_core
POSTGRES_USER=saas_core
POSTGRES_PASSWORD=saas_core
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
REDIS_URL=redis://127.0.0.1:6379/0
